<div class="container">
    <div class="row">
       
        <div class="col-md-6">
            <h1>RentalDetails</h1>
            <app-rental></app-rental>
        </div>
        <div class="col-md-6">
            <h1>CarDetails</h1>
            <router-outlet>
               
            </router-outlet> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>ColorDetails</h1>
            <app-color></app-color>
        </div>
        <div class="col-md-6">
            <h1>BrandDetails</h1>
             <app-brand></app-brand>
        </div>
    </div>
      
</div>

