<div class="row">
  <div class="col-md-4">
    <select [(ngModel)]="filterBrandName" class="form-select" aria-label="Default select example">
 
    <option value="">Marka Seçiniz</option>
    <option *ngFor="let brand of brands" [value]="brand.brandName" [selected]="getSelectedBrand(brand.brandName)">{{brand.brandName}}</option>
    
  </select>
</div>
<div class="col-md-4">
  <select [(ngModel)]="filterColorName" class="form-select" aria-label="Default select example">
  <option value="">Renk Seçiniz</option>
    <option *ngFor="let color of colors" [value]="color.colorName" [selected]="getSelectedColor(color.colorName)">{{color.colorName}}</option>
    </select>
</div>
<button
id="filter"
class="col-md-2 btn btn-primary"
routerLink="/cars/brand/{{filterBrandName}}/color/{{filterColorName}}"
type="button"
>Filtrele</button>
<button
id="clear"
class="col-md-2 btn btn-secondary"
routerLink="/cars"
type="button"
>

  Temizle
</button>



 
</div>

<div class="row">
<div
  class="col-lg-4 col-md-6 shadow-lg p-3 mb-5 rounded"
  *ngFor="let car of cars"
>
    <div class="card border-0 mb-3" style="width: 18rem">
    <img
      class="car-image"
      routerLink="/cars/car-detail/{{ car.carID }}"
      src="{{ imgUrl }}{{ car.carImages }}"
      class="card-img-top"
      alt="Image"
      role="button"
      width="200"
      height="200"
    />
    <div class="card-body text-center">
      <h4>
        <a
          routerLink="/cars/car-detail/{{ car.carID }}"
          class="card-title text-decoration-none h5"
          style="color: #007bff"
          >{{ car.brandName }}
        </a>
      </h4>
    </div>
    <ul class="list-group list-group-flush">
      
      <li class="list-group-item">
        <span class="float-start">Renk</span>
        <span class="float-end">{{ car.colorName }}</span>
      </li>
      <li class="list-group-item">
        <span class="float-start">Model</span>
        <span class="float-end">{{ car.modelYear }}</span>
      </li>
      <li class="list-group-item">
        <span class="float-start">Açıklama</span>
        <span class="float-end">{{ car.description }}</span>
      </li>
      <p class="card-text text-center h3 mt-3">{{ car.dailyPrice }}₺</p>
    </ul>
    <div class="card-body">
      <div class="d-flex action justify-content-between">
        <!-- <a type="button" (click)="addToCart(car)" class="btn btn-success">Sepete Ekle</a> -->
        <!-- Button trigger modal -->

        <a class="btn btn-primary w-100" routerLink="/cars/car-detail/{{ car.carID }}">Detaylar</a>
      </div>
    </div>
  </div>
</div>
</div>