<table class="table">
 
  <tbody>
    <tr>
      <th scope="row">CarID</th>
      <td *ngFor="let car of cars">{{car.carID}}</td>
    </tr>
    <tr>
      <th scope="row">BrandName</th>
      <td *ngFor="let car of cars">{{car.brandName}}</td>
    </tr>
    <tr>
      <th scope="row">ColorName</th>
      <td *ngFor="let car of cars">{{car.colorName}}</td>
    </tr>
    <tr>
      <th scope="row">ModelYear</th>
      <td *ngFor="let car of cars">{{car.modelYear}}</td>
    </tr>
    <tr>
      <th scope="row">DailyPrice</th>
      <td *ngFor="let car of cars">{{car.dailyPrice}}</td>
    </tr>
  </tbody>
</table>