<div class="content">
    <div>
        <h2 class="text-center">Araba Listesi</h2>
        <table class="table table-bordered">
            <thead>
                <th>Araba ID</th>
                <th>Marka Adı</th>
                <th>Renk Adı</th>
                <th>Günlük Fiyat</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <td>{{car.carID}}</td>
                    <td>{{car.brandName}}</td>
                    <td>{{car.colorName}}</td>
                    <td>{{car.dailyPrice}}</td>
                    <td><button class="btn btn-warning" routerLink="/cars/update/{{car.carID}}">Güncelle</button></td>
                    <td><button class="btn btn-danger" (click)="deleteCar(car)">Sil</button></td>
                </tr>
    
            </tbody>
    
        </table>
    </div>
   
    <br>
    <br>
    <div>
        <h2 class="text text-center">Marka Listesi</h2>
        <table class="table table-bordered">
            <thead>
                <th>Marka ID</th>
                <th>Marka Adı</th>
                <th>Güncelle</th>
                <th>Sil</th>

               
            </thead>
            <tbody>
                <tr *ngFor="let brand of brands">
                    <td>{{brand.brandID}}</td>
                    <td>{{brand.brandName}}</td>
                   
                    <td><button class="btn btn-warning" routerLink="/brands/update/{{brand.brandID}}">Güncelle</button></td>
                    <td><button class="btn btn-danger" (click)="deleteBrand(brand)">Sil</button></td>
                </tr>
    
            </tbody>
    
        </table>

    </div>
    <br>
    <br>
    <div>
        <h2 class="text text-center">Renk Listesi</h2>
        <table class="table table-bordered">
            <thead>
                <th>Renk ID</th>
                <th>Renk Adı</th>
                <th>Güncelle</th>
                <th>Sil</th>

               
            </thead>
            <tbody>
                <tr *ngFor="let color of colors">
                    <td>{{color.colorID}}</td>
                    <td>{{color.colorName}}</td>
                   
                    <td><button class="btn btn-warning">Güncelle</button></td>
                    <td><button class="btn btn-danger" (click)="deleteColor(color)">Sil</button></td>
                </tr>
    
            </tbody>
    
        </table>

    </div>

   
</div>